.trigger {
  border: 2px solid #2196F3;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 100%;
}

.content {
  border: 2px solid #2196F3;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  width: 100%;
}

.item {
  padding: 10px;
  transition: background .1s linear;
}
.item:hover {
  background: #2196F3;
  color: #fff;
  cursor: pointer;
}

.dropdown {
  box-shadow: 0 4px 10px rgba(124, 77, 255, 0.2);
  margin: 50px auto;
  outline: none;
  transition: box-shadow .1s linear;
  width: 200px;
}
.activeDropdown {
  composes: dropdown;
  box-shadow: 0 10px 30px rgba(124, 77, 255, 0.2);
}
.dropdown:hover > .trigger, .activeDropdown > .trigger {
  background: #2196F3;
  color: #fff;
}
.activeDropdown > .trigger {
  background: #2196F3;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}
