*,*:before,*:after {box-sizing: border-box; -webkit-box-sizing: border-box;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0; }
body { -webkit-font-smoothing: antialiased; font-size: 14px;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
a{text-decoration:none;}
/*清浮动*/
.clearfix:before,.clearfix:after { content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
/*选择*/
::selection {background-color: #5fd7f0; color:#ffffff; text-shadow:none;}
::-moz-selection {background-color:#5fd7f0; color:#ffffff;text-shadow:none;}